<!DOCTYPE html>
<html lang="vi">
<head>
    </head>
<body>
    <div class="navbar">
        <div class="nav-links">
            <a href="{{ url_for('cart') }}">Giỏ hàng</a>
            {% if current_user.is_authenticated %}
                <span>Chào, {{ current_user.username }}!</span>
                <a href="{{ url_for('my_products') }}">Sản phẩm của tôi</a>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('admin_dashboard') }}">Trang Admin</a>
                {% endif %}
                <a href="{{ url_for('logout') }}">Đăng xuất</a>
            {% else %}
                <a href="{{ url_for('login') }}">Đăng nhập</a>
                <a href="{{ url_for('register') }}">Đăng ký</a>
            {% endif %}
        </div>
    </div>
    <main id="main-content">
        <h1>Trang chủ Shop Bán Hàng</h1>
        {% for category in categories %}
        <div class="category-section">
            <h2 class="category-title">{{ category.name }}</h2>
            <div class="product-container">
                {% for product in category.products %}
                <div class="item">
                    <div class="image-box">
                        <img src="{{ url_for('static', filename='product_images/' + product.image_file) }}" alt="Hình {{ product.name }}" class="product-image">
                    </div>
                    <div class="detail-box">
                        <div class="info-row">
                            <h2><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></h2>
                            <p class="product-price">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </main>
    </body>
</html>
